/* GENERAL */

/* importing fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* transitios */

/*- makes so that the change in clicking is not instantaneous */
a,
.btn {
  transitio: all 300ms ease;
}

/* DESKTOP NAV */

/* changes ALL navs and navlinks to make a flex */

#desktop-nav {
  display: flex;
  flex-direction: row;
  height: 15vh;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 55%;
}

#nm-btn-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 30px;
  height: 30px;
  border: .11rem black solid;
  border-radius: 2rem;
  background-color: black;
  transitio: all 300ms ease;
}

.btn-container:hover {
  transform: scale(1.05);
  box-shadow: 1.5px 1.5px 5px;
}

.nav-links {
  display:flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

/* hover element to links */
.nav-a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-color: grey;
  text-decoration-thickness: .1px;
}

.logo {
  font-size: 2rem;
}

/* logo hover changes cursor to default cursor so no selector i cursor  */
.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU  */
/* try to understand this next session for hw */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: black;
  transitio: all 300ms ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 2rem;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transitio: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  transitio: all 0.3 ease-in-out;
}

/* can delete later if want to  */
.menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
  text-decoration-thickness: 0.5px;
  transitio: all 300ms ease;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 4.5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

/* section template */
section { 
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section-pic-container {
  display: flex;
  height: 350px;
  width: 350px;
  margin: auto 0;
  transitio: all 300ms ease;
  border: .12rem gainsboro solid;
  border-radius: 11rem;
  background: none;
}

.section-pic-container .me-pic {
  border-radius: 50%;
}

.section-pic-container:hover {
  transform: scale(1.025);
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  font-size: 1.25rem;
  text-align: center;
}

.section-text-p2 {
  font-size: 1.75rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2.5rem;
  transitio: all 300ms ease;
}

.profile-icon:hover {
  transform: scale(1.05);
}

.github-icon {
  margin-bottom: 1px;
}

/* BUTTONS */

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transitio: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-size: .9rem;
}

.btn-resume,
.btn-contact-info {
  border: whitesmoke .12rem solid;
}

.btn-resume:hover,
.btn-contact-info:hover {
  cursor: pointer;
}

.btn-resume,
.btn-contact-info {
  background: none;
}

.btn-resume:hover,
.btn-contact-info:hover {
  transitio: all 300ms ease;
  background: rgba(0,0,0,.8);
  border: rgba(0,0,0,.6) .12rem solid;
  color: white;
  transform: scale(1.025);
}

/* ABOUT */

#about {
  position: relative;
}

.about-details-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-container {
  justify-content: center;
  flex-direction: column;
}

.about-container,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 50%;
}

.arrow {
  position: absolute;
  /* it stays on one position on the page*/
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) .125rem solid;
  border-color: whitesmoke;
  text-align: center;
  transitio: all 300ms ease;
}

.details-container:hover {
  transform: scale(1.025);
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE */

/* experience wasn't relative so the arrow icon moved to the first parent section which had relative position? */
#experience {
  position: relative;
  height: auto;
  margin-bottom: 1rem;
}

.o-container {
  margin-top: 4rem;
  gap: 2rem;
  width: 1200px;
  display: flex;
    justify-content: center;
}

.e-container {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 2rem;
  margin-bottom: 3rem;
}

/* e-container Grid */

.experience-box-1 {
  justify-self: center;
}

.experience-box-2 {
  justify-self: center;
}

#my-pie-chart {
  align-self: center;
  justify-self: end;
}

.legend {
  max-width: fit-content;
}

/* Pie Chart */

#my-pie-chart {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: .15rem whitesmoke solid;
  box-shadow: 2px 2px 5px grey;
  /* conic-gradient color, which% to new% on the graph, no comma at end of rgb values */
  background: conic-gradient(
    rgb(0,0,0, .8) 0% 70%, 
    rgb(0,0,0, .7) 70% 80%, 
    rgb(0,0,0, .6) 80% 90%, 
    rgb(0,0,0, .5) 90% 95%, 
    rgb(0,0,0, .4) 95% 100%
  );
}

#my-pie-chart:hover {
  transform: scale(1.0075);
}

.legend {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 170px;
  padding: .67rem;
  background-color: white;
  border: .12rem whitesmoke solid;
  border-radius: 2rem;
  align-self: center;
  text-align: center;
}

.legend p {
  color: rgb(85, 85, 85);
}

.legend-title {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.legend-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4rem;
}

.mini-color {
  width: 15px;
  height: 15px;
  background-color: black;
  align-self: center;
  border-radius: 2rem;
}

.mini-1 {
  background-color: rgb(0,0,0, .8);
}

.mini-2 {
  background-color: rgb(0,0,0, .7);
}

.mini-3 {
  background-color: rgb(0,0,0, .6);
}

.mini-4 {
  background-color: rgb(0,0,0, .5);
}

.mini-5 {
  background-color: rgb(0,0,0, .4);
}

/* Experience */

.experience-box-1 {
  display: flex;
  width: auto;
  height: auto;
  border: whitesmoke .15rem solid;
  border-radius: 2rem;
  padding: 1rem;
  flex-direction: column;
  transitio: all 300ms ease;
}

.skills-box {
  transitio: all 300ms ease;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.skills-box-1 {
  margin-left: .2rem;
  margin-top: .5rem;
}

.skills-box-1 article {
  display: flex;
  width: auto;
  margin-top: .5rem;
}

.experience-box-2 {
  display: flex;
  width: 450px;
  height: auto;
  border: whitesmoke .15rem solid;
  border-radius: 2rem;
  padding: 1rem;
  flex-direction: column;
}

.experience-box-2 article {
  margin: 0;
}

.box-text {
  text-align: center;
  font-size: 1.25rem;
  width: fit-content;
  height: fit-content;
  align-self:flex-start;
  margin: 1rem auto;
}

.skills-box:hover {
  transform: scale(1.005);
}

article {
  display: flex;
  height: fit-content;
  width: 7rem;
  justify-content: flex-start;
  align-self: center;
  margin-left: 3rem;
}

article:hover {
  cursor: default;
}

.border {
  border: .1rem black solid;
  height: 1rem;
  width: 25rem;
  border-radius: 2rem;
  margin-top: .1rem;
}

.bar-container {
  display: flex;
}

.bar {
  display: flex;
  flex-direction: row;
  height: 1rem;
  width: 50%;
  background-color: rgba(0,0,0,.7);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.percentage {
  color: black;
  margin-left: .5rem;
  width: auto;
  height: auto;
  margin-right: .5rem;  
}

.bar-1 {
  width: 55%;
}

.bar-2 {
  width: 30%;
}

.bar-3 {
  width: 20%;
}

.bar-4 {
  width: 5%;
}

/* .bar-container:hover .bar {
  transitio: all 150ms ease;
  background-color: white;
}

.bar-container:hover .percentage {
  transitio: all 150ms ease;
  color: black;
}

.bar-container:hover .border {
  transitio: all 200ms ease;
  background-color: black;
} */

/* PROJECTS */

#projects {
  position: relative;
}

.o-p-container {
  display: flex;
  justify-self: center;
  width: auto;
  margin-top: 2.5rem;
  gap: 2rem;
}

.p-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  border: .15rem whitesmoke solid;
  border-radius: 3rem;
  width: 350px;
  height: 450px;
  transitio: all 300ms ease;
}

.p-container:hover {
  transform: scale(1.005);
  /* box-shadow: 2px 2px 5px grey;  */
  /* first two values are x and y, last one is blur of shadow */
}

.p-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .12rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: auto;
  height: auto;
}

.p-image-container img{
  width: 275px;
  height: 275px;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}


/* .p-image-container .p-image-2 {
  width: 100px;
  height: 100px;
} */

.p-title-button-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;
  gap: 1.5rem;
}

.p-title {
  text-align: center;
  margin-bottom: .25rem;
}

.p-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.p-button-1 {
  text-align: center;
  text-decoration: none;
  width: auto;
  padding: 1.15rem;
  border: .125rem whitesmoke solid;
  border-radius: 2rem;
  transitio: all 300ms ease;
}

.p-button-1:hover {
  background-color: rgba(0,0,0,.7);
  color: white;
  border-color: black;
}

/* CONTACT */

#contact {
  height: 70vh;
}

.o-c-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-submit-text-container {
  border: .125rem whitesmoke solid;
  border-radius: 2rem;
  width: 500px;
  height: 500px;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-textarea {
  display: flex;
  border: none;
  outline: none;
  width: 450px;
  height: 450px;
  justify-content: flex-start;
  resize: none;
  font-size: 1rem;
}

.error-message, .confirm-message {
  display: none;
}

.c-email-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.email-field {
  display: flex;
  border: whitesmoke .125rem solid;
  border-radius: 2rem;
  height: 2rem;
  padding: .3rem;
  padding-left: 1rem;
  outline: none;
}

::placeholder {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

textarea {
  font-family: "Poppins", sans-serif;
}

/* Dark Mode: this is a toggle class, use this class to select elements you want and change their properties*/

.dark-mode {
  color: rgb(225,225,255);
  border-color: rgb(200, 200, 255);
  background-color: black;
  /* transition: all 300ms ease; */
  backface-visibility: hidden;
  /* ask him tomorrow why boxes show up */
}

.dark-mode .nav-a {
  color: rgb(225,225,255);
}

.dark-mode .hamburger-icon span {
  background-color: rgb(225,225,255);
}

.dark-mode .menu-links.open li a {
  color: rgb(225,225,255);
}

.dark-mode .menu-links.open li a:hover {
  color: rgb(225,225,255);
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-color: rgb(200, 200, 255);
  text-decoration-thickness: .1px;
}

.dark-mode .btn-container {
  background-color: rgb(225,225,255);
  border-color: rgb(225,225,255);
  box-shadow: rgb(200, 200, 255);
}

.dark-mode #socials-container img {
  filter: invert(1);
}

.dark-mode .icon {
  background: none;
  filter: invert(1);
}

.dark-mode .btn-resume:hover {
  background-color: rgb(225,225,255);
  border-color: rgb(225,225,255);
  color: black;
}

.dark-mode .btn-contact-info:hover {
  background-color: rgb(225,225,255);
  border-color: rgb(215,205,255);
  color: black;
}

.dark-mode .bar {
  background-color: rgb(225,225,255);
}

.p-image-container .dark-mode .p-image-1 img {
  border: 1rem solid rgb(225,225,255);
}

.dark-mode .p-button-1:hover {
  color: black;
  background-color: rgb(225,225,255);
  border-color: rgb(215,205,255);
}

.dark-mode .title {
  color: rgb(200, 200, 255);
}

.dark-mode .section-pic-container img {
  background-color: black;
  border-radius: 11rem;
  border-color: rgb(200, 200, 255);
  clip-path: circle();
  /* this makes an image a circle */
}

/* figure out how the selection of css works */
.dark-mode .e-container .experience-box-1 h3 {
  color: rgb(200, 200, 255);
}

.dark-mode .e-container .experience-box-2 h3 {
  color: rgb(200, 200, 255);
}

.dark-mode .p-container h2 {
  color: rgb(200, 200, 255);
}

.dark-mode .about-details-container h3 {
  color: rgb(200, 200, 255);
}

.dark-mode .logo {
  color: rgb(200, 200, 255);
}

.dark-mode .nav-a:hover {
  color: rgb(200, 200, 255);
  text-decoration-color: rgb(200, 200, 255);
}

.dark-mode .e-container-2 {
  border-color: rgb(200, 200, 255);
}

.dark-mode #my-pie-chart {
  background: conic-gradient(
    rgba(174, 174, 255, 0.9) 0% 70%, 
    rgba(170, 170, 255, 0.83) 70% 80%, 
    rgba(170, 170, 255, 0.76) 80% 90%, 
    rgba(170, 170, 255, 0.69) 90% 95%, 
    rgba(170, 170, 255, 0.62) 95% 100%
  );
  border-color: rgb(190, 190, 255);
}

.dark-mode.legend p {
  color: rgb(215,205,255);
}

.dark-mode .mini-1 {
  background-color: rgba(174, 174, 255, 0.9);
}

.dark-mode .mini-2 {
  background-color: rgba(170, 170, 255, 0.83);
}

.dark-mode .mini-3 {
  background-color: rgba(170, 170, 255, 0.76);
}

.dark-mode .mini-4 {
  background-color: rgba(170, 170, 255, 0.69);
}

.dark-mode .mini-5 {
  background-color: rgb(190, 190, 255, .62);
}

.no-email-message {
  display: none;
}